@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

.blue {
  background-color: #0029A4;
}

.grey {
  background-color: #bbb;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.huge {
  font-size: 3rem;
}

.billboard {
  top: 5%;
  color: #fff;
}

.billboard-img {
  width: 200%;
}

h2 {
  font-family: 'Libre Baskerville', serif;
}

.center {
 margin-left: -50%
  }












