@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

.blue {
  background-color: #0029A4;
}

.black {
  background-color: #000;
}

.grey {
  background-color: #333;
}

.light-grey {
  background-color: #ccc;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.huge {
  font-size: 3rem;
}

.billboard {
  top: 5%;
  color: #fff;
  padding: 5%;
}

.billboard-img {
  width: 300%;
}

h2 {
  font-family: 'Libre Baskerville', serif;
}

.center {
 margin-left: -50%
  }

.logo-size {
  width: 10em;

}

.clip {
  height: 10em;
  overflow: hidden;
}

@media only screen and (min-width: 20em) {
  
  .big {
    font-size: 2rem;
  }
}

  .clip { 
  height: 20em;
  overflow: hidden;
}

  .billboard-img {
  width: 200%;
}

}

@media only screen and (min-width: 38em) {

  .billboard-img {
  width: 100%;
}

  .grey {
  background-color: #000;
}

}












